<h2>Welcome to Rock, Paper, Scissors game</h2>
<p>Rules of the game</p>
<p>Two player game. Both players select either rock, paper or scissors.</p>
<p>A player who decides to play rock will beat another player who has chosen scissors ("rock crushes scissors" or sometimes "blunts scissors"), but will lose to one who has played paper ("paper covers rock"); a play of paper will lose to a play of scissors ("scissors cuts paper"). If both players make the same selection, it is a draw</p>
